.container-servicos {
	position: relative;
	padding: 0 60px; /*espaço para as setas */
    gap: 10px;
}

.container-servicos h1 {
	font-size: 50px;
	text-align: center;
	padding: 3rem;
}

.carousel-services .left-arrow,
.carousel-services .right-arrow {
	position: absolute;
	top: 55%;
	z-index: 10;
	background: none;
	border: none;
	cursor: pointer;
	color: #333;
}

.carousel-services .left-arrow {
    left: 20px;
}

.carousel-services .right-arrow {
    right: 20px;
}

@media (max-width: 460px) {
    .carousel-services .left-arrow {
        left: 5px;
    }

    .carousel-services .right-arrow {
        right: 5px;
    }

    .container-servicos {
        padding: 0 10px;
    }

    .container-servicos h1 {
        font-size: 40px;
    }
}

/*arrumar as setinhas q eu fui burra e perdi*/