.card-services {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.card-services-container {
	width: 25rem;
	height: 28rem;
	border-radius: 49% 49% 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
	margin: 0.5rem;
}

.services-image {
	width: 20rem;
}

.card-services p {
	margin-top: 10px;
	font-size: large;
}

@media (max-width: 1560px) {
	.card-services-container {
		width: 25rem;
		height: 28rem;
	}

	.services-image {
		width: 18rem;
	}
}

@media (max-width: 1390px) {
	.card-services-container {
		width: 21rem;
		height: 24rem;
	}

	.services-image {
		width: 16rem;
	}
}

@media (max-width: 1190px) {
	.card-services-container {
		width: 18rem;
		height: 21rem;
	}

	.services-image {
		width: 14rem;
	}
}

@media (max-width: 460px) {
	.card-services-container {
		width: 16rem;
		height: 19rem;
	}

	.services-image {
		width: 12rem;
	}
}

@media (max-width: 365px) {
	.card-services-container {
		width: 13rem;
		height: 16rem;
	}

	.services-image {
		width: 9rem;
	}
}
