.services-component {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 100px;
}

.services-container {
	width: 23rem;
	height: 26rem;
	border-radius: 49% 49% 0 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 1rem;
	margin: 0.5rem;
}

.card-img {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 18rem;
}

.services-component p {
	margin-top: 10px;
	font-size: large;
}

@media (max-width: 1560px) {
	.services-container {
		width: 25rem;
		height: 28rem;
	}

	.card-img {
		width: 18rem;
	}
}

@media (max-width: 1300px) {
	.services-container {
		width: 21rem;
		height: 24rem;
	}

	.card-img {
		width: 16rem;
	}
}

@media (max-width: 1190px) {
	.services-container {
		width: 18rem;
		height: 21rem;
	}

	.card-img {
		width: 14rem;
	}
}

@media (max-width: 460px) {
	.services-container {
		width: 16rem;
		height: 19rem;
	}

	.card-img {
		width: 12rem;
	}
}

@media (max-width: 365px) {
	.services-container {
		width: 14rem;
		height: 17rem;
	}

	.card-img {
		width: 10rem;
	}
}
