.cta-depoimentos {
	/* margin-top: 200px;
    margin-bottom: 200px; */
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 5rem;
}

.flor-verde {
	margin-right: 5rem;
    overflow: hidden;
}

.flor-rosa {
	margin-left: 5rem;
    overflow: hidden;
}

.texto-button {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.botao-depoimentos {
	text-align: center;
	margin-top: 25px;
	border-radius: 25px;
	background-color: #7d84b2;
	width: 12rem;
	padding: 1rem 0.5rem;
    cursor: pointer;
}

.botao-depoimentos:hover {
    background-color: #5E669E;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.botao-depoimentos a {
	text-decoration: none;
	color: #EDEEF4;
} 

.texto-button h1 {
	color: #190b28;
}

@media (min-width: 701px) and (max-width: 830px){
.flor-verde {
	overflow:visible;
    height: 200px;
    width: auto;
    
}

.flor-rosa {
	overflow:visible;
    height: 200px;
    width: auto;
    
}
}

@media (min-width:526px) and  (max-width:700px) {
.flor-verde {
	display: none;
}

.flor-rosa {
	display: none;
}
}