.cta-depoimentos-content {
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding: 5rem;
}

.cta-green-flower {
	margin-right: 5rem;
	overflow: hidden;
}

.cta-pink-flower {
	margin-left: 5rem;
	overflow: hidden;
}

.cta-depoimentos-text {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	justify-content: center;
}

.cta-depoimentos-button {
	margin-top: 25px;
	border-radius: 25px;
	background-color: #7d84b2;
	width: 11rem;
	padding: 1rem 0.5rem;
	cursor: pointer;
	line-height: 1.5;
	font-size: 1rem;
}

.cta-depoimentos-button:hover {
	background-color: #5e669e;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

.cta-depoimentos-button a {
	text-decoration: none;
	color: #edeef4;
}

.cta-depoimentos-text h1 {
	color: #190b28;
}

@media (min-width: 700px) and (max-width: 830px) {
	.cta-green-flower {
		overflow: visible;
		height: 200px;
		width: auto;
	}

	.cta-pink-flower {
		overflow: visible;
		height: 200px;
		width: auto;
	}

	.cta-depoimentos-button {
		transform: scale(0.9);
	}
}

@media (min-width: 526px) and (max-width: 700px) {
	.cta-green-flower {
		display: none;
	}

	.cta-pink-flower {
		display: none;
	}
}
