.hero {
	width: 100%;
	background-image: url('/hero.png');
	background-size: cover;
	background-position: center;
	aspect-ratio: 16 / 9; /* ajusta conforme a proporção da sua imagem */
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	overflow: hidden;
}

.conteudo-esquerda {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.conteudo-esquerda h1 {
	font-weight: 600;
	padding: 1rem;
}

.botao-hero {
	text-align: center;
	border-radius: 25px;
	background-color: #7b4397;
	width: 10rem;
	padding: 0.875rem 0.4rem;
    cursor: pointer;
    margin-left: 12px;
}

.botao-hero:hover {
    background-color: #5f2f75;
}

.botao-hero a {
	text-decoration: none;
	color: black;
}

.conteudo-direita {
	display: flex;
	flex-direction: row;
}

.flor {
	margin-right: 3px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	color: antiquewhite;
}

.icone-flor {
	font-size: 36px;
}

.logo {
	margin-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
	font-family: 'Vidaloka', serif;
	font-size: 5cap;
}

@media (max-width: 500px) {
	.conteudo-esquerda h1 {
		font-weight: 500;
		font-size: clamp(0.5rem, 1vw, 1rem);
		padding: 0.1rem 0.3rem 0.3rem 0.3rem;
	}

	/* padding : top right bottom left*/

	.botao-hero {
		text-align: center;
		margin-left: 5px;
		width: 5rem;
		padding: 0.1rem 0.3rem 0.3rem 0.3rem;
	}

	.icone-flor {
		font-size: clamp(12px, 3vw, 15px);
	}

	.logo {
		font-size: 1.7rem;
		margin-right: 2px;
	}
}

@media (max-width: 800px) {
	.conteudo-esquerda h1 {
		font-size: 1.2rem;
		padding: 0.1rem 0.3rem 0.3rem 0.3rem;
	}

	/* padding : top right bottom left*/

	.botao-hero {
		text-align: center;
		margin-left: 5px;
		width: 5rem;
		padding: 0.1rem 0.3rem 0.3rem 0.3rem;
	}

	.botao-hero a {
		font-size: 0.6rem;
	}

	.flor {
		margin-right: 2px;
	}

	.icone-flor {
		font-size: 18px;
	}

	.logo {
		font-size: 2.2rem;
		margin-right: 2px;
	}
}

@media (min-width: 1400px) {
	.conteudo-esquerda h1 {
		font-size: 2.6rem;
	}

	/* padding : top right bottom left*/

	.botao-hero {
		text-align: center;
		margin-left: 10px;
		width: 10rem;
		padding: 1rem;
	}

	.botao-hero a {
		font-size: 1rem;
	}

	.icone-flor {
		font-size: 50px;
	}

	.logo {
		font-size: 6rem;
	}
}

/*hover do botão*/
