.slider-container {
    max-width: 700px;
    margin: 40px auto;
}

.slick-slide img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.slick-prev,
.slick-next {
    width: 40px;
    height: 40px;
    top: 40%;
}

.slick-prev::before,
.slick-next::before {
    font-size: 24px;
    color: palevioletred;
}

.slick-prev {
    left: -60px;
}

.slick-next {
    right: -60px;
}


.slick-dots {
    position: static;
    padding: 20px 0;
    gap: 10px;
}

.slick-dots li {
    width: 60px;
    height: 60px;
    border: none;
}

.slick-dots li img {
    width: 100%;
    height: 100%;
    cursor: pointer;
    border: 3px solid transparent;
    transition: border 0.3s ease;
    opacity: 0.8;
    border-radius: 10px;
}

.slick-dots li.slick-active img {
    border: 3px solid palevioletred;
    opacity: 1;
}

.slick-dots li:hover img {
    opacity: 1;
}

@media (min-width: 1200px) {
    .slider-container {
        max-width: 1000px;
    }
}

@media (max-width: 870px) {
    .slider-container {
        max-width: 500px;
    }
}

@media (max-width: 640px) {
    .slider-container {
        max-width: 400px;
    }
}

@media (max-width: 520px) {
    .slider-container {
        max-width: 300px;
    }
    .slick-dots li {
        width: 40px;
        height: 40px;
        margin: 0;
        border: none;
        padding: 0;
    }
}

@media (max-width: 420px) {
    .slider-container {
        max-width: 270px;
    }

    .slick-prev {
        left: -40px;
    }

    .slick-next {
        right: -40px;
    }
}
