.call-to-action {
	width: 100%;
	height: 600px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-around;
	background-color: rgba(125, 132, 178, 0.5);
}

.cta-right img {
	width: 350px;
}

.cta-left h1 {
	font-size: 2.3rem;
}

.cta-button {
	text-align: center;
	margin-top: 25px;
	border-radius: 25px;
	background-color: #7d84b2;
	width: 160px;
	padding: 0.875rem 0.4rem;
	cursor: pointer;
	line-height: 1.5;
	font-size: 1rem;
}

.cta-button a {
	text-decoration: none;
	color: #321650;
}

.cta-button:hover {
	background-color: #5e669e;
	box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

@media (min-width: 1300px) {
	.cta-left h1 {
		font-size: 3rem;
	}

	.cta-image img {
		width: 400px;
	}

	.cta-button {
		margin-left: 10px;
		transform: scale(1.2);
	}
}

@media (min-width: 850px) and (max-width: 1000px) {
	.cta-left h1 {
		font-size: 1.9rem;
	}

	.cta-image img {
		width: 300px;
	}
}

@media (max-width: 849px) {
	.cta-left h1 {
		font-size: 1.6rem;
	}

	.cta-image img {
		width: 200px;
		overflow: hidden;
	}

	.cta-button {
		margin-top: 1rem;
		transform: scale(0.95);
	}
}

@media (max-width: 660px) {
	.call-to-action {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: auto;
		padding: 2rem 1rem;
	}

	.cta-button {
		margin-left: auto;
		margin-right: auto;
	}

	.cta-left {
		text-align: center;
		width: 100%;
	}

	.cta-image {
		display: flex;
		justify-content: center;
		margin-top: 2rem;
	}

	.cta-image img {
		width: 200px;
		overflow: hidden;
	}

	.cta-button {
		width: 10rem;
	}

	.cta-button a {
		font-size: 1rem;
	}
}
