.active {
	background-color: #ffe1dd;
	font-weight: bold;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: #ffd4cf;
	padding: 1rem 2rem;
	position: relative;
}

.navbar-logo {
	width: 50px;
	height: auto;
}

.navbar-desktop {
	display: flex;
	margin: 0 auto;
}

.navbar-desktop li {
	list-style: none;
}

.navbar-desktop li a {
	display: block;
	text-decoration: none;
	color: #321650;
	padding: 0.5rem;
	margin: 0 0.5rem;
	border-radius: 15px;
}

.navbar-desktop li a:not(.active):hover {
	background-color: #f0cac6;
}

.menu {
	z-index: 10;
	display: none;
}

.navbar-mobile {
	position: fixed;
	left: 0;
	right: 0;
	top: 5rem;
	background-color: #ffd4cf;
	padding: 1rem;
}

.navbar-mobile-menu {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.navbar-mobile-menu li {
	list-style: none;
}

.navbar-mobile-menu li a {
	display: block;
	text-decoration: none;
	color: #321650;
	padding: 0.5rem;
	border-radius: 15px;
	text-align: center;
}

.navbar-mobile-menu li a:not(.active):hover {
	background-color: #f0cac6;
}

@media (max-width: 580px) {
	nav {
		flex-direction: column;
		align-items: start;
	}

	.menu {
		display: flex;
		flex-direction: row;
		position: absolute;
		top: 1rem;
		right: 1rem;
	}

	.navbar-desktop {
		display: none;
	}
}
