.about-page {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.titulo {
	text-align: center;
	padding: 2.5rem;
	gap: 1rem;
}

.texto-1 {
	margin-top: 100px;
	margin-bottom: 40px;
	text-align: center;
	font-size: 1.5rem;
}

.about-text {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	padding: 0 1rem;
}

.about-text p {
	font-weight: 300;
	font-size: 2rem;
}

.about-green-flower {
	margin-right: 3rem;
	width: 200px;
	height: auto;
}

.about-pink-flower {
	margin-left: 3rem;
	width: 200px;
	height: auto;
}

@media (max-width: 500px) {
	.about-text {
		flex-direction: column;
		padding: 0 1rem;
	}

	.about-green-flower {
		display: none;
	}

	.about-pink-flower {
		display: none;
	}

	.about-text p {
		font-size: 1rem;
	}

	.titulo h2 {
		font-size: 1.5rem;
	}
}

@media (min-width: 501px) and (max-width: 1024px) {
	.about-text {
		flex-direction: column;
		padding: 0 1rem;
	}

	.about-green-flower {
		display: none;
	}

	.about-pink-flower {
		display: none;
	}

	.titulo h2 {
		font-size: 1.6rem;
	}

	.about-text p {
		font-size: 1.7rem;
	}
}
